.signInPage {
  width: 100vw;
  height: auto;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signInPage .container-signIn {
  width: 350px;
  height: 500px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signInPage .container-signIn .top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signInPage .container-signIn .top h1 {
  text-align: center;
  background: #fff;
}

.signInPage .container-signIn .body {
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 360px;
  padding: 1.5rem;
}

.signInPage .container-signIn .body input {
  margin: 2rem 0;
  width: 100%;
  padding: 5px;
  font-size: 1rem;
}

.btn-create-account,
.btn-sign-in {
  padding: 12px 9px;
  width: 150px;
  margin: .5rem;
  border: 1px solid darkgray;
  font-size: 1rem;
  border-radius: 6px;
  background: #F9F9F9;
  cursor: pointer;
}

.btn-create-account:hover,
.btn-sign-in:hover {
  transform: translateY(-1px);
}