@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.navbarContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  min-height: 7vh;
}

.navbarContainer .left {
  flex: 33%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.navbarContainer .left #youtubeIcon {
  font-size: 2.7rem;
  color: red;
}

.navbarContainer .left #burgerIcon {
  font-size: 1.7rem;
}

.btn-burger {
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 1rem;
  padding: 0.7rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn-burger:hover {
  background: lightgray;
}

.btn-burger:focus {
  outline: none;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: #111;
  margin: 0 0.3rem;
}

/* CEnter */

.navbarContainer .center {
  flex: 33%;
  display: flex;
  align-items: center;
}

.navbarContainer .center .searchBar {
  width: 80%;
  height: 37px;
  border-right: none;
  padding: 0.4rem;
  font-size: 1rem;
}

.navbarContainer .center .btn-search {
  height: 37px;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  background: #f5f5f5;
}

input:focus,
button:focus {
  outline: none;
}

/* Right */
.navbarContainer .right {
  flex: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
}

.navbarContainer .right .create-video {
  font-size: 2.5rem;
  background: transparent;
  margin: 0.6rem 1.5rem 0 0;
  border: none;
  cursor: pointer;
}

.navbarContainer .right .profile-pic {
  border: none;
  background: gray;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.signIn-btn {
  border: none;
  cursor: pointer;
  background: transparent;
  font-size: 1rem;
  margin: 0 1rem;
}